
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*-------------------------------------------------------*/

#header-wrapper {
	height:0%;
}

header {
	position:fixed;
	top:0%;
    background-color:#FFFFFF;
	width:100%;
	height:25%;
}

#logo img{width:20%;}

body {
	background-color:#white;
}

#menu {float:left;}

#menu ul { 
	margin-right:10%;
	position:absolute;
	left:20%;
	top:35%;
	margin-bottom:10%;
}
#menu li {  
    display:block;
	float:left;
	padding-right:40px;
}

#menu li a:hover {  
    text-decoration: none;
	color: #FFCCFF;
}

#menu li a {  
    font-family:bold,arial;  
    font-size:20px;  
    color: gray;    
    outline:0;  
    text-decoration:none;  
	list-style: none;
}

#projects {padding-left:10%;
	padding-right:10%;
}

#projects img {
	display:inline-block;
	width:47%;
	float:left;
	margin-right:2%;
	margin-bottom:2%;
}

#project1{width:100%;
		margin-top:15%;
	}

#project2{width:100%;
		margin-top:15%;}

#project3{width:100%;}

#project4{width:100%;}

#project5{width:100%;}

#project6{width:100%;}

#pg1prj1{margin-top:15%;
font-family:bold,arial;
margin-left:10%;
margin-bottom:2%;
}

#project1a img{width:20%;
	float:left;}

#text1{ margin-left:10%; width:25%; display:inline-block;}

#ey img{float:left;}

#larger img {
	float:right;
	width:40%;
	padding-right:15%;
	padding-bottom:5%;
}
#larger {margin-top:100px;}

.bodytext {
	position:fixed;
	float:left;
	width:30%;
	font-family: helvetica;
	font-size: .7em;
	line-height: 150%;
	padding-left:10%;
}


@media screen and (max-width:900px) {
	#artwork img{
		width:45%;
		}
		
	#sticky .buttons{
		display:none;
	}
	
}

@media screen and (max-width:550px) {
	header {
		position:fixed;
		top:0%;
	    background-color:#FFFFFF;
		width:100%;
		height:25%;
	}
	#projects img{float:none;
		width:100%;
		margin-bottom:5%}
		
		#project1{width:100%;
				margin-top:60%;
			}

		#project2{width:100%;
				margin-top:0%;}
	
		#logo img{
		width:20%;
		}
		.bodytext {
			position:fixed;
			float:none;
			width:80%;
			font-family: helvetica;
			font-size: .7em;
			margin-top:30%;
			line-height: 150%;
			padding-left:10%;
		}
		#larger img {
			width:70%;
			padding-left:15%;
			padding-right:15%;
			padding-bottom:5%;
		}
		#larger {margin-top:50px;}
		
	
}






