

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------------------------*/

#site-header {
	padding-left: 20%;
	padding-right: 20%;
	padding-top:1%;
	background-color: beige;
}

#top-nav {
	text-align: right;
	font-size: 12px;
	font-family: sans-serif;
	padding: 5px 20px 0px 0px;
	color: SaddleBrown;
}

header #top-nav a {
	color: saddlebrown;
	text-decoration: none;
}

#main-menu {
	padding-left: 20%;
	padding-right:20%;
	padding-top:1%;
	padding-bottom:2%;
	background-color:saddlebrown;
}
	
#main-menu ul li {
	display: inline;
	float:left;
}

#main-menu a {
	padding: 10px 30px 0px 0px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
	color:white;
}

#page {
	clear:left;
	float:left;
	margin-left:20%;
}

#page h1 {
	font-size: 30px;
	padding-top: 50px;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	color: SaddleBrown;
}

#page h2 {
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	color: SaddleBrown;
}

#page p {
	font-size: 11.5px;
	padding-bottom: .75em;
	line-height: 1.15em;
	font-family: sans-serif;
	width:400px;
}

#sidebar {
float:left;
padding-top: 50px;
margin-left:5%;
width:300px;
}

#sidebar h1 {
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	color: SaddleBrown;
}

#sidebar a {
	font-size: 11.5px;
	font-family: sans-serif;
	color: SaddleBrown;
	text-decoration: none;
}

li {
line-height:15px;
}

#footer-wrapper {
	padding-left: 20%;
	padding-right: 20%;
	background-color: SaddleBrown;
	margin-top:50%;	
}

#footer-wrapper h1 {
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	color: beige;
}

#footer-wrapper p {
	font-size: 10px;
	font-family: sans-serif;
	line-height: 10px;
	width:150px;
	color: white;
}

#footer-contact {
	float:left;
	width:15%;
}

#footer-follow {
	padding-left:45%;
	float:left;
	width:20%;
}

.contact-us {
	color:silver;
}

.button {
	float:left;
}